@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');


body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 42px;
    text-shadow: 3px 4px 5px #7c3aed;
    font-weight: 1000px;

}

label {
    display: block;
    margin: 1.5rem;
    font-size: 23px;
    font-weight:900;
    font-stretch: expanded;
    text-shadow: 3px 7px 15px #7c3aed;
}
input{
  font-size: 23px;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid #7c3aed;
  border-radius: 0.5rem;
  width: 380px;
}

#submitBtn {
    font-size: 20px;
    font-weight: 600;
    background-color: #7c3aed;
    border-radius: 0.5rem;
    border:0.19rem solid black;
    padding: 0.75rem 3rem 0.75rem 3rem;
    margin: 1.5rem;
}
#btnDiv{
    padding-bottom: 1rem;

}

.fsection {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    font-size: 2.55vh;
    font-weight: bolder;
    padding: 0rem 0rem 0.5rem 0rem;

}

.icons {
    color: black;
    font-size: 4.5vh;
    display: inline;
    padding: 0rem 2rem 0rem 0rem;
    cursor: pointer;

}
#output{
    font-size: 30px;
    font-weight: bold;
}